:root {
  --greyColor: rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fbebeb;
}
.header {
  position: relative;
  z-index: 2;
  margin: 20px 50px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.header .header__title {
  font-size: 30px;
  letter-spacing: 3px;
}

.header__contents .header__content {
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 15px;
  margin-right: 60px;
  color: black;
}

.header .header__right {
  display: flex;
}

.header__right .header__search {
  margin-right: 50px;
}

.header__right .header__language {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 600;
}

.main {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
}
.main .main__photo {
  z-index: 1;
  background-image: url(https://i.pinimg.com/564x/a4/30/e5/a430e5afe3a34745700a1be241bd8a61.jpg);
  background-size: cover;
  display: block;
  position: relative;
  top: -100px;
  z-index: 1;
  height: 127.7%;
}

.main__photo .photo__squares {
  height: 100%;
  margin-left: 130px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: rotate(90deg);
}

.photo__squares .squares__square {
  margin-right: 30px;
}

.main .main__middle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 400px;
  transform: rotate(-90deg);
  margin-top: 250px;
  font-weight: 800;
  font-size: 15px;
  white-space: nowrap;
}

.main .main__view {
  margin-left: 110px;
}
.main__view .view__title {
  margin-top: 100px;
  font-size: 80px;
  font-weight: 600;
  display: flex;
  justify-content: right;
  align-items: right;
  margin-bottom: 200px;
}

.main__view .view__pages {
  font-size: 50px;
  font-weight: 600;
}

.main__view .view__pages:last-child {
  font-size: 30px;
  color: var(--greyColor);
}
.navigation {
  padding-left: 50%;
  grid-template-columns: 0.5fr 0.5fr;
  background-color: white;
  height: 107px;
  display: flex;
  justify-content: space-between;
}
.navigation .nav__arrow {
  font-size: 70px;
  margin-left: 10px;
  color: var(--greyColor);
}
.navigation .nav__logos {
  margin-right: 50px;
  margin-top: 50px;
}

.nav__logos .logos__logo {
  margin-right: 10px;
  fill: var(--greyColor);
}
